<h3>Booked shifts</h3>

<br>

<h5>{{color}}Red: More than 3 waiters booked</h5>
<h5>Green: Exactly 3 waiters booked  </h5>
<h5>Orange: Less than 3 waiters booked</h5>

<br>
<br>
<div class="box ">
    <div class="ui computer reversed half width grid moveDown">
        <div class=" rows moveDown">

            <div class="two row">
                <tbody>
                     {{#each storedShifts}} 
                     <ul id="shiftdays">
                        <h6 class="{{color}}">{{day}}</h6>
                        {{#each Waiters}}
                        <li >{{this}}</li>
                        {{/each}}
                        </ul>
                        {{/each}}
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>


<a href="/clear"><button type="button" class="clearBtn">Reset</button></a>
<input type="button" value="Back!" onclick="history.back()">






















{{!-- <div class="container">
    <div class="container">
        <h1>Weekly Schedule</h1>
        <br>
    
        
        <table>
            <th>
                <tr>
                    {{#each list}}
                    <th class="{{color}}">{{days}}</th>
                    {{/each}}
                </tr>
            </th>
            <tbody>
                <tr>
                    {{#each list}}
                    <td>{{waiters}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    </form>
    <button type="submit" class="btn">Reset</button>
    </form>
    <button class="btn"><a href="/">back</a></button>
</div> --}}